
::ng-deep .mat-form-field-underline {
  display: none;
}
.label{
  padding-bottom: 4px !important;
}

textarea.mat-input-element.cdk-textarea-autosize {
  background-color: #ffffff;
 
  border: none;
  height: 50px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 92% !important;
  padding: 15px 15px;
  box-shadow:#dfd6c2 3px 3px 3px 0px;
  background-color: white;
}

.mat-toolbar
{
background-color: #fafafa;
display: block !important;
text-align: center;
}

.save {
  background: #936317;
  color: #ffffff;
  padding: 10px 30px -8px 30px;
  border: solid 2px #ffffff;
  border-radius: 30px;
  width: 143px;
  font-size: 20px;
  box-shadow: 0px 8px 15px #888888;
  text-align: center !important;
  line-height: 2px;
  }

.cancel {
  background: #ff0000;
  color: #ffffff;
  margin-right: 30px;
  border: solid 2px #ffffff;
  border-radius: 30px;
  width: 143px;
  font-size: 20px;
  box-shadow: 0px 8px 15px #888888;
}

.main-content
{
height: calc(106vh - 120px);
overflow: auto;
overflow-x: hidden;
}

input.input{
  height: 55px;
  border: none;
  box-shadow: #dfd6c2 3px 3px 3px 0px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 13px 15px;
  font-weight: 500;
  width: 90%;
}
input.userRolePermissionFormField2{
  height: 20px;
  outline: none;
  margin-bottom: 7px;
  margin-top: 10px;
  padding: 13px 15px;
  font-weight: 500;
  width: 90%;
  /*select box css*/
  border-radius: 25px;
  border: 1px solid #cccccc;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  background-color: white;
}


.red {
  color: #ff0000 !important;
}
.labelInput{
  font-size: 20px ;
  color: black;
}

.select{
height: 50px;
outline: none;
margin-bottom: 10px;
width: 90% !important;
padding: 15px 15px;
&:focus{
  box-shadow: #dfd6c2 3px 3px 3px 0px;
}
/*select box css*/
border-radius: 25px;
border: 1px solid #cccccc;
box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
background-color: white;
}

.select2{
  height: 50px;
  outline: none;
  margin-bottom: 10px;
  width: 90% !important;
  padding: 15px 15px;
  &:focus{
    box-shadow: #dfd6c2 3px 3px 3px 0px;
  }
  /*select box css*/
  border-radius: 25px;
  border: 1px solid #cccccc;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  background-color: white;
}
::placeholder{
  color: rgba(80, 75, 75, 0.87);
  font-size: 14px;
}
::-moz-placeholder{
  color: rgba(80, 75, 75, 0.87);
  font-size: 14px;
}
::-webkit-input-placeholder{
  color: rgba(80, 75, 75, 0.87);
  font-size: 14px;
}
.filter_select_header .filter_text {
  padding: 0 7px;
}
.filter_select_header .check_uncheck_btn {
  font-size: 12px;
  padding: 0 6px;
}
.filter_select_header {
  background: #dfd6c2;
  display: flex;
}
mat-form-field .select_search_box{
  background: #ffffff !important;
  border-radius: 30px !important;
  padding-left: 12px !important;
  border-top: 0 !important;
  padding-bottom: 8px !important;
  padding-top: 4px !important;
  margin-bottom: 0%;
}
.filter_select_header {
  display: flex;
  place-content: start !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
.label{
  padding-bottom: 4px !important;
}

// button css
.button-mid
{
display: block !important;
text-align: center;
margin: auto;
}
.button_group {
display: block;
padding-top: 0.1em;
margin-bottom: 0.3em;
text-align: center;
background-color: transparent !important;
}
.cancel {
background: #ff0000;
color: #ffffff;
margin-right: 30px;
padding: auto !important;
border: solid 2px #ffffff;
border-radius: 30px;
width: 143px;
font-size: 20px;
box-shadow: 0px 8px 15px #888888;
line-height: 2px;

}
.send {
background: #025599;
color: #ffffff;
padding: 10px 30px -8px 30px;
border: solid 2px #ffffff;
border-radius: 30px;
width: 143px;
font-size: 20px;
box-shadow: 0px 8px 15px #888888;
text-align: center !important;
line-height: 2px;
}
.mat-toolbar {
display: block !important;
text-align: center !important;
}
/////////////////
.main-content{
height: calc(94.5vh - 70px);
overflow: auto;
overflow-x: hidden;
}

.mat-form-field-wrapper {
padding-bottom: 0em !important; 
}
.mat-form-field-infix {
padding: 0.5em 0.2em !important;
border-top: 0em solid transparent !important; 
}

///////////////////////////////////////////////////
textarea.mat-input-element.cdk-textarea-autosize {
border: none;
height: 50px;
outline: none;
margin-bottom: 10px;
width: 92% !important;
padding: 15px 15px;
/*select box css*/
border-radius: 25px;
border: 1px solid #cccccc;
box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
background-color: white;
}


.DatePicker {
border-radius: 5px;
box-shadow: #dfd6c2 3px 3px 3px 0px;
background: #fff;
height: 55px;
width: 90% !important;
margin: 0% !important;
}
.dateText{
padding: 10px;
margin-top: 4px;
}
.barRow{
height: calc(41vh - 70px);
}

.bulk-upload {
background-image: linear-gradient(45deg,#025599,#025599);
color: #FFFFFF;
border-radius: 10px;
width: 116px;
height: 40px;
margin-bottom: 0;
text-align: center;
line-height: 40px;
}
.btn-primary {
border: #f0f0f0;
background-color: #025599;
color: #FFFFFF;
border-radius: 10px;
width: 150px !important;
height: 40px;
font-size: 15px;
}
.arrowIcon{
width: 20px; 
height: 20px;
margin-bottom: 2px;
}

label span {
color: #ff0000 !important;
}
// datepicker css
.datePicker mat-icon
{
vertical-align: top !important;
}
.datepicker{
height: 50px;
outline: none;
margin-bottom: 7px;
margin-top: 10px;
padding: 13px 15px;
font-weight: 500;
margin-right: 100px;
width: 90%;
border-radius: 25px;
border: 1px solid #cccccc;
box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
background-color: white;
}

.datepicker .bs-datepicker-head {
background-color: #ffb81c !important;
}

.theme-green .bs-datepicker-head {
background-color:  #ffb81c !important;
}
.bs-datepicker{
margin-right: 300px !important;
}
.CustomFormLabel {
margin-top: 1rem;
margin-bottom: 1rem;
display: block;
}

.sel1{
height: 50px;
outline: none;
margin-bottom: 10px;
width: 90% !important;
padding: 15px 15px;
&:focus{
  box-shadow: #dfd6c2 3px 3px 3px 0px;
}
/*select box css*/
border-radius: 25px;
border: 1px solid #cccccc;
box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
background-color: white;
}
.mat-drawer-content {
overflow: hidden !important;
}