<div>

    <div class="modal-header">
      <h4 class="">Filter</h4>
      <i class="fa fa-close close" aria-hidden="true"></i>
      <img src="assets/img/Icon/x.svg" alt="" class="crud-btns close" (click)="onDismiss()">
    </div>
    <mat-dialog-content class="mat-typography">
      <div class="content_outer">
        <div class="row rowMargin mt-3">
          <div class="col-md-6">
            <div>
              <label for="">Select User Type</label>
            </div>
            <div fxLayout="row wrap">
              <mat-select class="select2 mat-select-filter" panelClass="myPanelClass1" disableOptionCentering
                placeholder="Select">
               
                <mat-option value=1>User</mat-option>
                <mat-option value=2>Admin</mat-option>
              </mat-select>
            </div>
          </div>
        
        </div>

        <div class="row rowMargin mt-3">
            <div class="col-md-6">
                <div>
                  <label for="">Is Verify</label>
                </div>
                <div fxLayout="row wrap">
                  <mat-select class="select2 mat-select-filter" panelClass="myPanelClass1" disableOptionCentering
                    placeholder="Select">
                   
                    <mat-option value=1>Yes</mat-option>
                    <mat-option value=2>No</mat-option>
                  
                  </mat-select>
                </div>
            </div>


            <div class="col-md-6">
                <div>
                  <label for="">Is Active</label>
                </div>
                <div fxLayout="row wrap">
                  <mat-select class="select2 mat-select-filter" panelClass="myPanelClass1" disableOptionCentering
                    placeholder="Select">
                   
                    <mat-option value=1>Yes</mat-option>
                    <mat-option value=2>No</mat-option>
                  
                  </mat-select>
                </div>
            </div>
        </div>
        
  
        <div class="button_group  text-center mt-5">
          <button class="reset">RESET</button>
          <button class="apply">APPLY</button>
        </div>
  
      </div>
    </mat-dialog-content>
  </div>
  