<div class="main-content">
    <h4 class="font-w600 title m-2 mr-auto ">Schedule View Detail</h4>
    <div class="row mx-1 my-4" >
        <div class="col-md-4 ">
            <div class="my-3">
                <label for="">Select SMS Send Type </label>
            </div>
            <div>
                <mat-select class="sel1" [(value)]="selectedSMSType" disabled disableOptionCentering panelClass="normalSelect" placeholder="Select">
                    <mat-option value="1" >Individual</mat-option>
                    <mat-option value="2" ></mat-option>>
                </mat-select>
            </div>
        </div>
        <div class="col-md-8"></div>
    </div>

    <div class="row mx-1 my-4">
        <div class="col-md-4">
            <div class="my-3">
                <label for="">SMS in English</label>
            </div>
            <mat-form-field appearance="fill" class="text-area">
                <textarea matInput [formControl]="inputFormControl"   placeholder="Mingalar Par"
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <div class="my-3">
                <label for="">SMS in Zawgyi</label>
            </div>
            <mat-form-field appearance="fill" class="text-area">
                <textarea matInput [formControl]="inputFormControl"   placeholder="ဟိုင္း မဂၤလာပါ"
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <div class="my-3">
                <label for="">SMS in Unicode</label>
            </div>
            <mat-form-field appearance="fill" class="text-area">
                <textarea matInput  [formControl]="inputFormControl"   placeholder="ဟိုင်း မင်္ဂလာပါ"
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="row my-2 mx-1">
        <div class="col-md-4">
            <br>
            <div class="ml-2">
            <label for="">Mobile Number</label>
            </div>
            <div class="mobile_field">
            
            
            <form class="example-form">
                <mat-form-field class="mobileNo example-full-width " appearance="fill">
                <span matPrefix >+95 &nbsp;</span>
                <input type="tel" matInput disabled  class="" placeholder="09xxxxxxxxx" value="09452179874" maxlength="9" 
                minlength="9">
                
                </mat-form-field>
            </form>
            </div> 
        </div>
    
        <div class="col-md-3 mt-5">
            <div style="display: inline;" >
                <img src="assets/img/Icon/Delete Icon.png" alt="" class="action-img" ><img src="assets/img/Icon/Yes.svg" alt="" style="width: 27px; margin: 0px 0px 0px 25px;">
                <span>MPT (Merchant)</span>
            </div>
        </div>
        <div class="col-md-5 ">
        <div class="add_button_div d-flex flex-column align-items-end p-4">
            <button class="btn btn-warning"><img src="assets/img/Icon/Add pattern.svg" class="action-img"><span>ADD</span></button>
            <p class="red">*(Maximum Allow Add 5 Mobile Numbers)</p>
        </div>
        </div>
    </div>

    <div class="row mt-2 mb-4 mx-1">
        <div class="col-md-4">
            <br>
            <div class="ml-2">
            <label for="">Mobile Number</label>
            </div>
            <div class="mobile_field">
            
            
            <form class="example-form">
                <mat-form-field class="mobileNo example-full-width " appearance="fill">
                <span matPrefix >+95 &nbsp;</span>
                <input type="tel" matInput disabled  class="" placeholder="09xxxxxxxxx" value="09459809801" maxlength="9" 
                minlength="9">
                
                </mat-form-field>
            </form>
            </div> 
        </div>
    
        <div class="col-md-3 mt-5">
            <div style="display: inline;" >
                <img src="assets/img/Icon/Delete Icon.png" alt="" class="action-img" ><img src="assets/img/Icon/Yes.svg" alt="" style="width: 27px; margin: 0px 0px 0px 25px;">
                <span>MPT (Merchant)</span>
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>

    <div class="row mx-1 my-4">
        <div class="col-md-12">
            <div class="my-3">
                <label for="">Remarks</label>
            </div>
            <mat-form-field appearance="fill" class="text-area">
                <textarea matInput [formControl]="inputFormControl"
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="row my-5 mx-3">
        <mat-radio-group aria-labelledby="example-radio-group-label" disabled class="example-radio-group mx-1"
        [(ngModel)]="radioBtn">
        <mat-radio-button class="example-radio-button pe-5 " *ngFor="let radio of radios" [value]="radio">
          {{radio}}
        </mat-radio-button>
      </mat-radio-group>  
        
        <div class="col-md-6"></div>
    </div>

    <div class="row mx-1 my-4" >
        <div class="col-md-5 ">
            <div class="my-3">
                <label for="">Select Frequency <span class="red">*</span> </label>
            </div>
            <div>
                <mat-select class="sel1" [(value)]="selected" disabled disableOptionCentering panelClass="normalSelect" placeholder="Select">
                    <mat-option value="1" >Today</mat-option>
                    <mat-option value="2" >Daily</mat-option>
                    <mat-option value="3" >Weekly</mat-option>
                    <mat-option value="4" >Monthly</mat-option>
                    <mat-option value="5" >Quaterly</mat-option>
                    <mat-option value="6" >Half-Yearly</mat-option>
                    <mat-option value="7" >Yearly</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-5">
            <br>
            <div class="my-3">          
                <mat-form-field floatLabel="always">
                    <mat-label class="labelInput">Select Period <span class="red">*</span></mat-label>
                    <input matInput class="userRolePermissionFormField2" disabled value="Tue,10-May-2022 , 16:28 - Mon,06-Jun-2022 , 16:28" placeholder="Enter Value">
                    <mat-icon matSuffix></mat-icon>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div class="row mx-1 my-2">
        <div class="col-md-5">
          <br>
          <div class="my-3">
            <mat-form-field floatLabel="always">
              <mat-label class="labelInput">Frequency Count <span class="red">*</span></mat-label>
              <input matInput class="userRolePermissionFormField2" value="5" disabled placeholder="Enter Value">
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-5 ngx-timepicker-field-example">
          <span class="CustomFormLabel">
            Select Period Time (24 hours) <span class="red">*</span>
          </span>
          <div class="d-flex">
            <ngx-timepicker-field class="" [controlOnly]="true" [disabled]="true" [format]="24" [defaultTime]="'13:11'">
            </ngx-timepicker-field>
            <ngx-timepicker-field class="" [controlOnly]="true" [disabled]="true" [format]="24" [defaultTime]="'19:41'">
            </ngx-timepicker-field>
          </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <mat-toolbar>
        <div class="button_group">
        <button class="cancel"  (click)="onDismiss()">Back</button>
        <button class="delete" [routerLink]="'../'"> Delete</button>
        </div>
    </mat-toolbar>
    
</div>