// select form css
.sel1{
    height: 50px;
    outline: none;
    margin-bottom: 10px;
    width: 90% !important;
    padding: 15px 15px;
    &:focus{
      box-shadow: #dfd6c2 3px 3px 3px 0px;
    }
    /*select box css*/
    border-radius: 25px;
    border: 1px solid #cccccc;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background-color: white;
}
textarea.mat-input-element.cdk-textarea-autosize {

    height: 50px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 85% !important;
    padding: 15px 15px;
    /*select box css*/
    border-radius: 25px;
    border: 1px solid #cccccc;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background-color: white;
}
.labelInput{
  font-size: 20px ;
  color: black;
}
.red {
  color: #ff0000 !important;
}
input.userRolePermissionFormField2{
  height: 20px;
  outline: none;
  margin-bottom: 7px;
  margin-top: 10px;
  padding: 13px 15px;
  font-weight: 500;
  width: 90%;
  /*select box css*/
  border-radius: 25px;
  border: 1px solid #cccccc;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  background-color: white;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.cancel {
  background: #087d74;
  color: #ffffff;
  margin-right: 30px;
  padding: auto !important;
  border: solid 2px #ffffff;
  border-radius: 30px;
  width: 143px;
  font-size: 20px;
  box-shadow: 0px 8px 15px #888888;
  line-height: 2px;
  
}
.delete {
  background: #ff0000;
  color: #ffffff;
  padding: 10px 30px -8px 30px;
  border: solid 2px #ffffff;
  border-radius: 30px;
  width: 143px;
  font-size: 20px;
  box-shadow: 0px 8px 15px #888888;
  text-align: center !important;
  line-height: 2px;
}
.mat-toolbar {
  display: block !important;
  text-align: center !important;
}

.mobileNo{
  padding: 10px;
  height: 48px;
  width: 90% !important;
  margin: 0% !important;
  border-radius: 25px;
  border: 1px solid #cccccc;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  background-color: white;
}

.add_button_div button  {

  font-weight: 600;
  font-size: 22px;
  width: 120px;
  height: 45px;
}

.add-btn{
  width: 30px;
 
}

.action-img{
  width:30px;
  margin-right: 10px;
}

.main-content {
  height: calc(100vh - 120px);
  overflow: auto;
  overflow-x: hidden;
}
.CustomFormLabel {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  }